<% if session[:user_id] == nil%>
  <ul>
    <li><a href="/user_sign_in">Sign in</a>
    </li>
    <li><a href="/user_sign_up">Sign up</a>
    </li>
    <li><a href="/">Home</a>
  </li>
</ul>

<%else%>


<% end %>

<h1>Homepage</h1>

<h2>How to use Profesh</h2>
