<div class="my-3">
  <div>
    <h2>
      Add a new message
    </h2>

    <form action="/insert_ai_message" method="post">

      <div>
        <label for="content_box" class="form-label">
          Content
        </label>
        <textarea rows="2" id="content_box" name="query_content" class="form-control"></textarea>
      </div>

      <button class="btn btn-outline-success my-2">
        Create ai message
      </button>
    </form>
  </div>
</div>
