
<h1 class="sr-only">
  List of all AI Messages
</h1>


<%= render "ai_messages/form" %>

<hr>
<div>
  <div>
    <table class="table">
      <tr>
        <th class="text-nowrap">
          Un-Profeshed Communication
        </th>
        <th>
        </th>
      </tr>

      <% @ai_messages.each do |an_ai_message| %>
      <tr>
        <td>
          <%= an_ai_message.content %>
        </td>
        <td class="text-nowrap">
          <a href="/ai_messages/<%= an_ai_message.id %>">
            See more
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
